.profil-page {
  background-color: black;
}
.profil-name {
  color: white;
  font-size: 3em;
  margin: 3% 0 0 3%;
}
.profil-page-container {
  display: flex;
  flex-direction: row;
}
.profil-page-content {
  display: flex;
  flex-direction: column;
  width: 94%;
}
.profil-header {
  display: flex;
  flex-direction: row;
  margin: 3% 0 0 3%;
}
.profil-player-info {
  display: flex;
  flex-direction: column;
  margin-left: 5%;
}
.profil-pic {
  height: 200px;
  width: 200px;
  border-radius: 50%;
}
.profil-sub-title {
  color: white;
  font-size: 2em;
  margin: 3% 0 0 3%;
}

.stats-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 5rem 5rem 0 5rem;
}
.player-stats {
  display: flex;
  flex-direction: column;
}
.info-player {
  height: 150px;
  width: 200px;
  background-color: #28df99;
  text-align: center;
  margin-bottom: 5rem;
  border: 5px solid white;
}
.stats-criteria {
  height: 300px;
  width: 200px;
  background-color: #28df99;
  text-align: center;
  border: 5px solid white;
}
.stats-text {
  color: white;
}

.progessBar {
  height: 1rem;
  width: 0%;
  background-color: rgb(68, 212, 231);
  color: #000;
  padding: 2px;
  z-index: 20;
}

.file-upload {
  padding: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  font-size: 1rem;
  width: 400px;
  background-color: #28df99;
  border: 5px solid white;
  z-index: 1;
}

.upButton {
  width: 5rem;
  padding: 5px;
  background-color: #fff;
  color: #000;
  font-size: 1rem;
  cursor: pointer;
  margin: 10px 0 0 0;
}

.fileInput {
  margin: 0 0 10px 0;
}
