* {
  margin: 0px;
  padding: 0px;
}

.staff-page {
  background-color: black;
}

.staff-page-container {
  display: flex;
  flex-direction: row;
}

.staff-page-content {
  display: flex;
  flex-direction: column;
  width: 94%;
}

.staff-title {
  color: white;
  font-size: 3em;
  margin: 3%;
}

.staff-page-search-info {
  display: flex;
  flex-direction: row;
  margin-left: 3%;
  max-width: 40%;
}

.staff-page-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-left: 3%;
  margin-top: 3%;
  color: white;
}
