* {
  margin: 0px;
  padding: 0px;
}

.staff-page-content {
  background: linear-gradient(transparent, rgba(0, 0, 0, 1));
  background-color: rgb(91, 87, 115);
  display: flex;
  flex-direction: column;
  width: 94%;
}
.staff-title {
  color: white;
  font-size: 3em;
  margin: 3%;
}
.staff-page-search-info {
  display: flex;
  flex-direction: row;
  margin-left: 3%;
  max-width: 40%;
}
.staff-page-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-left: 10%;
  margin-top: 3%;
  color: white;
  width: 90%;
  height: 500px;
  overflow: auto;
}
.link-profile {
  text-decoration: none;
}
