* {
  margin: 0px;
  padding: 0px;
}
.staff-card-container {
  color: white;
  display: flex;
  flex-direction: row;
}
.staff-picture {
  height: 150px;
  width: 150px;
  border: solid 5px #28df99;
  border-radius: 100px;
  position: relative;
  top: 15px;
  right: -7px;
  z-index: 10;
}
.staff-card-info {
  background-color: grey;
  display: flex;
  flex-direction: column;
  height: 120px;
  position: relative;
  top: 20%;
  left: -45px;
  border-radius: 35px;
  width: 230px;
  z-index: 8;
  text-align: center;
  justify-content: space-around;
}
.staff-card-text {
  margin-left: 20%;
}
