* {
  margin: 0px;
  padding: 0px;
}

.criteriaBar-container {
  background-color: #28df99;
  border-radius: 15px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  height: 50px;
  margin: 15px 0px;
  width: 85%;
}

.criteriaBar-text {
  align-self: center;
  color: white;
  font-size: 30px;
  padding: 0px 20px;
}

.criteriaBar-logo {
  align-self: center;
  color: white;
  font-size: 30px;
  padding: 0px 20px;
}
