* {
  margin: 0px;
  padding: 0px;
}

.dashboard-page-content {
  background: linear-gradient(transparent, rgba(0, 0, 0, 1));
  background-color: rgb(91, 87, 115);

  display: flex;
  flex-direction: column;
  width: 94%;
}
.dashboard-title {
  color: white;
  font-size: 3em;
  margin: 3%;
}
.dashboard-test {
  color: white;
}
.charts {
  display: flex;
  justify-content: space-around;
  margin-top: 50px;
  margin-left: 50px;
}
