* {
  margin: 0px;
  padding: 0px;
}

.loginPage-container {
  background: linear-gradient(transparent, rgba(0, 0, 0, 1));
  background-color: rgb(91, 87, 115);
  height: 100vh;
  padding-top: 60px;
}

.title {
  color: white;
}
