* {
  margin: 0px;
  padding: 0px;
}

.agenda-page-content {
  background: linear-gradient(to left, rgb(40, 223, 153), rgb(0, 0, 0));
  display: flex;
  flex-direction: column;
}

.agenda-title {
  color: white;
  font-size: 3em;
  margin: 3%;
}
