* {
  margin: 0px;
  padding: 0px;
}

.container {
  background-color: #28df99;
  display: flex;
  flex-direction: column;
  width: 6%;
  height: 100vh;
  justify-content: space-between;
  align-items: center;
}

.logo {
  background-image: url("../../assets/logo_scout47.png");
  background-repeat: no-repeat;
  background-size: contain;
  height: 10vh;
  width: 10vh;
  margin-top: 30px;
  border: 1px white;
  border-style: solid;
  border-radius: 45px;
}

.btn-logout {
  background-image: url("../../assets/btn-power-green.png");
  background-repeat: no-repeat;
  background-size: contain;
  height: 6vh;
  width: 6vh;
  margin-bottom: 30px;
  border: 1px white;
  border-style: solid;
  border-radius: 25px;
}
