* {
  margin: 0;
  padding: 0;
}

.staff-profil-page {
  background-color: black;
  max-height: 100vh;
  overflow: hidden;
}

.staff-profil-page-container {
  display: flex;
  flex-direction: row;
}

.staff-profil-page-content {
  display: flex;
  flex-direction: column;
  width: 94%;
}

.staff-profil-header {
  display: flex;
  flex-direction: row;
  margin: 3% 0 0 3%;
}

.staff-profil-pic {
  height: 200px;
  width: 200px;
  border-radius: 50%;
}

.staff-player-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin: 3% 5% 0 8%;
  width: 90%;
  height: 500px;
  overflow: scroll;
}

.staff-player-img {
  height: 150px;
  width: 150px;
  border: solid 5px #28df99;
  border-radius: 100px;
  margin: 0 2rem;
}

.staff-profil-info {
  display: flex;
  flex-direction: column;
  margin-left: 5%;
}

.staff-profil-name {
  color: white;
  font-size: 3em;
  margin: 3% 0 0 3%;
}

.staff-profil-sub-title {
  color: white;
  font-size: 2em;
  margin: 3% 0 0 3%;
}
