* {
  margin: 0px;
  padding: 0px;
}

.criteria-groupe-card-container {
  display: flex;
  flex-direction: column;
  background-color: #28df99;
  border-radius: 15px;
  border: 2px solid white;
  margin: 10px;
  width: 25%;
}

.criteria-groupe-card-title {
  display: flex;
  justify-content: center;
  font-size: 30px;
  font-weight: bold;
  margin: 2%;
}

.criteria-groupe-card-list {
  margin: 2% 2.5% 0% 2.5%;
  background-color: #99f3bd;
  border: 2px solid black;
  border-radius: 15px 15px 15px 15px;
  width: 95%;
  height: 85%;
}

.criteria-groupe-card-item {
  font-weight: bold;
  color: black;
  font-size: 25px;
  margin: 2% 5%;
}
